@model website_mvc.Entities.BookEntity


@{
    ViewData["Title"] = @Model.Title;
}

<div class="book-block">
    <div class="jumbotron">
        <h3>@Model.Title</h3>
        <p class="lead">@Model.Author</p>
        <hr class="my-4">
        <p>@Model.Description</p>
    </div>
</div>