@model IReadOnlyCollection<website_mvc.Entities.BookEntity>

@{
    ViewData["Title"] = "Admin Panel";
}
<h1 style="margin: 50px 0">@ViewData["Title"]</h1>

<div style="margin: 24px 0">
  <a asp-controller="Book" asp-action="AddBook">
    <button type="button" class="btn btn-primary">
      Add Book
    </button>
  </a>
</div>

<ul class="list-group" s>
  @foreach (var book in Model)
  {
    <li class="list-group-item" style="padding: .7em 1rem;">
      <a asp-controller="Book" asp-action="Edit" asp-route-id=@book.Id style="text-decoration: none; color: inherit; margin: 6px">
        <i class="bi bi-pencil"></i>
      </a>
      <a asp-controller="Book" asp-action="Delete" asp-route-id=@book.Id style="text-decoration: none; color: inherit; margin: 6px">
        <i class="bi bi-trash"></i>
      </a>
      <span style="margin-left: 12px">@book.Title</span>
    </li>
  }
</ul>