@model IReadOnlyCollection<website_mvc.Entities.BookEntity>

<div class="books-container">
    <h4 style="text-align: center">Books available</h4>
    
    <div class="book-list">
        @foreach (var book in Model)
        {
            <div class="book card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">by @book.Author</p>
                    <div class="d-grid gap-2">
                        <a class="btn btn-primary btn-block" asp-controller="Book" asp-action="GetById" asp-route-id=@book.Id>Show</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>